{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ reader.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ reader.email }}</p>
    <p>My books</p>
    {% for book in books %}
    	{{book.title}}<br>
    {% endfor %}

    <p>My reviews</p>
    <p>My ratings</p>

</div>
