<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/jquery-ui.structure.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/jquery-ui.theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{path('portal_default_index')}}">Readers Portal <i class="fa fa-book" aria-hidden="true"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown mega-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <span class="caret"></span></a>

                  <ul class="dropdown-menu mega-dropdown-menu row">
                    <li class="col-sm-3">
                      <ul>
                        <li class="dropdown-header">Recent</li>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            {{ render(controller('PortalBundle:Base:recent')) }}
                          </div>
                        </div>
                      </ul>
                    </li>
                    <li class="col-sm-3">
                      <ul>
                        <li class="dropdown-header">Genres</li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Mistery</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Biography</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Reccomendations</li>
                        <li><a href="#">Reccomended</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3">
                      <ul>
                        <li class="dropdown-header">Community</li>
                        <li><a href="#">Discussions</a></li>
                        <li><a href="#">Quotes</a></li>
                        <li><a href="#">Creative Writing</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Quotes</li>
                        <li><a href="#">Popular</a></li>
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">My authors</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3">
                      <ul>
                        <li class="dropdown-header">Top 100</li>
                        <li><a href="#">Top rated</a></li>
                        <li><a href="#">Most popular</a></li>
                        <li><a href="#">Most discussed</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Newsletter</li>
                        <form class="form" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                          </div>
                          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </form>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>             
              <ul class="nav navbar-nav navbar-right">                
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}              
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{path('fos_user_profile_show')}}">Show profile</a></li>
                    <li><a href="{{path('fos_user_profile_edit')}}">Edit profile</a></li>
                    <li><a href="{{path('fos_user_change_password')}}">Change password</a></li>
                  </ul>
                </li>                
                <li>
                    <a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
              {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
              {% endif %}
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="searchBook form-control" placeholder="Search book">
                </div>
                {# <button type="submit" class="btn btn-default">Submit</button> #}
              </form>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="searchAuthor form-control" placeholder="Search author">
                </div>
                {# <button type="submit" class="btn btn-default">Submit</button> #}
              </form>                              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>  
    
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{ asset('bundles/portal/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/portal/js/jquery.barrating.min.js') }}"></script>
            <script src="{{ asset('bundles/portal/js/scripts.js') }}"></script>
            <script>

              $(".carousel-inner").find(".item:first").addClass("active");

              $(function() {
                $( ".searchBook" ).autocomplete({
                  source: "{{ path('book_search') }}",
                  select: function( event, ui ) { 
                      var url = "{{ path('book_show', {'id':"id"}) }}";
                      url = url.replace("id", ui.item.value);
                      window.location.href = url;
                  }                  
                });
              });

              $(function() {
                $( ".searchAuthor" ).autocomplete({
                  source: "{{ path('author_search') }}",
                  select: function( event, ui ) { 
                      var url = "{{ path('author_show', {'id':"id"}) }}";
                      url = url.replace("id", ui.item.value);
                      window.location.href = url;
                  }                  
                });
              });

              $(function() {
                $( ".formSearchAuthor" ).autocomplete({
                  source: "{{ path('author_form_search') }}"                
                });
              });

              $(function() {
                $( ".searchTranslator" ).autocomplete({
                  source: "{{ path('translator_search') }}"                
                });
              });

              $(function() {
                $( ".searchPublisher" ).autocomplete({
                  source: "{{ path('publisher_search') }}"                  
                });
              });

            </script>
        {% endblock %}
    </body>
</html>
