{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reader</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reader.id }}</td>
            </tr>
            <tr>
                <th>Nick</th>
                <td>{{ reader.nick }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reader.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ reader.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reader_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reader_edit', { 'id': reader.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
