{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p>
				{% for tag in book.getTags %}
				   {% if tag %}
				       <span>
				       {{ tag.name }}
				       {% for tr in tag.getTagRelation %}
				           <a href="{{ path('mykees_delete_relation',{'relation_id':tr.id}) }}" class="delTag">[x]
				           </a>
				       {% endfor %}
				       </span>
				   {% endif %}
				{% endfor %}  
				</p>
        <input type="submit" value="Edit" class="btn btn-default" />
    {{ form_end(edit_form) }}

    <a href="{{ path('book_index') }}" class="btn btn-default">Back to the list</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ mk_tag_javascript() }}
{% endblock %}
