<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Rating Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-condensed">
                {% set sum = 0 %}
                {% for i in 1..10 %}
                    {% set singleSum = 0 %}
                    {% for rating in book.ratings %}
                        {% if i == rating.rate %}
                            {% set singleSum = singleSum + 1 %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th class="col-md-1">
                            <span class="pull-left">{{ i }}</span>
                        </th>
                        <td class="col-md-11">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ singleSum }}" aria-valuemin="1" aria-valuemax="{{ book.ratings|length }}" style="width: {{ singleSum * 10 }}%;">
                                    {{ singleSum }}
                                </div>
                            </div>
                        </td>
                    </tr>             
                {% endfor %} 
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>